{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues Search{% endblock %}
{% block content %}

<h3> 
	{% if results.count == 0 %} No results for "{{search_term}}" 
	{% elif not search_term %}
	{% elif results.count == 1 %}<b>{{results.count}}</b> result for "{{search_term}}"
	{% else %}<b>{{results.count}}</b> results for "{{search_term}}"{% endif %}
</h3>


<ul class="items">
	
	{% for venue in results.data %}
	<li>
		<a href="/venues/{{ venue.id }}">
			<i class="fas fa-music"></i>
			<div class="item">
				<h5>{{ venue.name }}</h5>
			</div>
		</a>
	</li>

	{% endfor %}

</ul>



{% endblock %}