{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Shows{% endblock %}
{% block content %}

<h2 class="monospace">{{ show.num_upcoming_shows }} Upcoming {% if show.num_upcoming_shows == 1 %}Show{% else %}Shows{% endif %}</h2>
<div class="row shows">
    {%for show in show.list_upcoming_shows %}
        <div class="col-sm-4">
            <div class="tile tile-show">
                <img src="{{ show.artist_image_link }}" alt="Artist Image" />
                <h4>{{ show.start_time|datetime('full') }}</h4>
                <h5><a href="/artists/{{ show.artist_id }}">{{ show.artist_name }}</a></h5>
                <p>will perform at</p>
                <h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
            </div>
        </div>
    {% endfor %}
</div>

<br />

<h2 class="monospace">{{ show.num_past_shows }} Past {% if show.num_past_shows == 1 %}Show{% else %}Shows{% endif %}</h2>
<div class="row shows">
    {%for show in show.list_past_shows %}
        <div class="col-sm-4">
            <div class="tile tile-show">
                <img src="{{ show.artist_image_link }}" alt="Artist Image" />
                <h4>{{ show.start_time|datetime('full') }}</h4>
                <h5><a href="/artists/{{ show.artist_id }}">{{ show.artist_name }}</a></h5>
                <p> performed at</p>
                <h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}